body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


h1 {
  color: rgb(60, 179, 113);
  padding: 20px;
  margin: 20px;
  justify-content: center; 
}
  
p {
  color: white;
  padding: 20px;
  justify-content: center; 
}
  
/* Login */
.logincard {
  background-color: rgba(0, 0, 128, 0.8);
  border-radius: 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.55);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 4rem; 
  margin-bottom: 4rem; 
  color: white;
  position: relative;
  z-index: 1;
}

.container {
  position: relative; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-image: url('images/apartment1.jpg'); 
  background-size: cover; 
  background-position: center; 
}
  
.container::before {
  content: ""; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(60, 179, 114, 0.747); 
}

/* Style the image logo */
.logincard .logo {
  width: 260px;
  height: auto;
  margin-bottom: 2px;
  align-items: center;
}
  
/* Style the close button */
.logincard .close {
  display: none; 
}
  
/* Style the headings */
.logincard h2 {
  color: rgb(60, 179, 113);
  margin-bottom: 10px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 2px;
  text-align: left;
  width: calc(100% - 32px);
  padding-left: 8px;
  box-sizing: border-box;
}
  
/* Style the input fields and buttons */
input[type="email"],
input[type="password"],
.button,
.google-button {
  width: calc(100% - 48px);
  max-width: 260px;
  padding: 10px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button {
  background-color: rgb(60, 179, 113);
  color: black;
  border: 1px solid rgba(60, 179, 114, 0.142);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: rgba(60, 179, 114, 0.493);
  color: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-button {
  background-color: white;
  color: #757575;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  text-align: center;
  transition: background-color .3s, box-shadow .3s;
}

.google-button:hover {
  background-color: rgba(60, 179, 114, 0.498);
  color: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-button:active {
  background-color: #eeeeee;
}

.google-button:focus {
  outline: none;
  box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.google-button:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor: not-allowed;
}

.logincard p{
  margin: 0;
}

.logincard .link {
  color: rgb(60, 179, 113);
  text-decoration: none;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.logincard .link:hover {
  text-decoration: underline;
}

/*--- Header ----*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  border-bottom: 2px solid rgb(2, 161, 74);
  border-radius: 10px;
  box-shadow: 0px 2px 10px 2px rgba(91, 120, 122, 0.689);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header .logo-container {
  margin-right: 15px;
}

.logo-container img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 2px solid #fff;
}

.logo-container img:hover {
  box-shadow: 0 0 10px rgb(0, 0, 128);
}

.header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header-center a {
  color: rgb(60, 179, 113);
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  font-size: 20px;
  transition: font-size 0.1s;
}

.header-center a:hover {
  font-size: 20px;
  color: rgb(0, 0, 128);
}

.header-right {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-icon {
  width: 45px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: rgb(60, 179, 113);
  margin-right: 30px;
}

.profile-icon:hover {
  background-color: rgb(0, 0, 128);
  box-shadow: 0 0 10px rgb(0, 0, 128);
  width: 46px;
  transition: ease-in-out;
}

.theme-toggle,
.dark-mode-icon {
  width: 50px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 100%;
}

.theme-toggle:hover{
  box-shadow: 0 0 10px rgb(0, 0, 128);
}

.dark-mode-icon:hover {
  background-color: #69f169; 
}

/* Card styling */
.card {
  background-color: white;
  padding: 20px;
  margin: 150px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .card {
    margin: 150px 100px 20px 100px; 
  }
}

/* Carousel styling */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 10px;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
  height: 300px; 
  object-fit: cover;
}

/* Increase the height for larger screens */
@media (min-width: 768px) {
  .carousel img {
    height: 350px; 
  }
}

@media (min-width: 1024px) {
  .carousel img {
    height: 400px;
  }
}

.carousel-controls {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}

.carousel-controls button {
  background-color: rgba(60, 179, 114, 0.8);
  color: white;
  border: none;
  border-radius: 8px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin: 0 4px;
  transition: background-color 0.3s;
}

.carousel-controls button:hover {
  background-color: rgba(0, 0, 128);
  transition: background-color 0.3s;
}

#featuredCard h1{
  text-align: center;
  margin-top: 0;
}

/* Estate search card */
#estateSearchCard {
  background-color: rgb(60, 179, 113);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#estateSearchForm label{
  font-weight: bold;
}

#estateSearchInput {
  width: calc(100% - 100px);
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#searchButton {
  background-color: white;
  color: rgb(60, 179, 113);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

#searchButton:hover {
  background-color: rgb(0, 0, 128);
  color: white;
  transition: ease-in-out;
}

/* Estate list styling */
#estateListContainer {
  margin-top: 20px;
}

#estateList {
  list-style-type: none;
  padding: 0;
}

#estateList li {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 179, 113);
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#estateList li:hover{
  background-color: rgb(0, 0, 128);
  color: white;
  cursor: pointer;
  transition: ease-in-out;
}

/* House listing styling */
#houseList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.house {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.house h3 {
  margin: 10px;
  background-color: rgba(211, 211, 211, 0.199); 
  padding: 5px;
  text-align: center; 
}

.house p {
  margin: 10px;
  padding: 5px 0;
  color: black;
}

.house a{
  text-decoration: none;
  color: rgb(3, 3, 157);
}

.house a:hover{
  text-decoration: underline;
}

.house .house-details {
  display: flex;
}

.house .left-column,
.house .right-column {
  flex: 1;
  background-color: rgba(211, 211, 211, 0.199);
  margin: 10px;
}

.house .right-column {
  margin-left: 20px; 
}

.house img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .house img {
     height: 300px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 10px;
}

.action-button {
  flex: 1;
  margin: 5px;
  padding: 10px 20px;
  background-color: rgb(60, 179, 113); 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: rgb(0, 0, 128); 
}

.action-button:first-child {
  margin-right: 10px;
}

/* About card */
#aboutCard {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#aboutCard h1 {
  color: rgb(60, 179, 113);
  margin-bottom: 20px;
  text-align: center;
}

#aboutCard p {
  color: #333;
  line-height: 1.6;
  text-align: justify;
  margin: 2px 2px;
}

footer{ 
  width: 100%;
  background-color: rgb(60, 179, 113);
  text-align: center;
  margin-top: 50px;
}
   