h1 {
    color: rgb(35, 234, 9);
    padding: 20px;
    margin: 20px;
    justify-content: center; 
  }
  
  p {
    color: white;
    padding: 20px;
    margin: 20px;
    justify-content: center; 
  }
  
  /* Login */
  #loginSignupCard {
    background-color:rgb(0, 0, 128);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto; /* Center the card horizontally */
    margin-top: 50px; /* Adjust the top margin as needed */
    color: white;
    position: relative; /* Set position to relative */
    z-index: 1; /* Ensure card appears on top of the container */
    
  }
  .container {
    position: relative; /* Set position to relative for pseudo-element positioning */
    height: 100vh; /* Adjust the height as needed */
    display: flex; /* Use flexbox for positioning */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-image: url('https://github.com/Rommie254/images/blob/main/apartment1.jpg?raw=true'); /* Specify the URL of your background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
  }
  
  .container::before {
    content: ""; /* Add content to the pseudo-element */
    position: absolute; /* Set position to absolute */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(35, 234, 9, 0.7); /* Transparent background color */
  }
  /* Style the image logo */
  #loginSignupCard .logo {
    width: 300px; /* Adjust logo width */
    height: auto; /* Keep aspect ratio */
    margin-bottom: 20px; /* Adjust logo bottom margin */
    align-items: center;
  }
  
  /* Style the close button */
  #loginSignupCard .close {
    display: none; /* Hide the close button */
  }
  
  /* Style the headings */
  #loginSignupCard .modal-content h2 {
    color: rgb(35, 234, 9); /* Heading text color */
    margin-bottom: 20px; /* Heading bottom margin */
  }
  
  /* Style the input fields */
  #loginSignupCard input[type="text"],
  #loginSignupCard input[type="password"] {
    width: 75%; /* Make input fields full width */
    padding: 10px; /* Adjust input field padding */
    margin-bottom: 10px; /* Adjust input field bottom margin */
    border-radius: 5px; /* Input field border radius */
    border: 1px solid #ccc; /* Input field border */
  }
  
  /* Style the buttons */
  #loginSignupCard .button {
    background-color: rgb(35, 234, 9); /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove button border */
    border-radius: 5px; /* Button border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 10px; /* Adjust button top margin */
    display: flex; /* Use flexbox for button alignment */
    justify-content: space-between; /* Space buttons evenly */
  }
  #loginSignupCard .link {
    color:rgb(35, 234, 9) ;
  }
  
  
    /* estate listing*/
    #estateListContainer {
      font-family: verdana;
      font-size: 20px;
      color: white;
      background: rgb(35, 234, 9);
      width: 200px;
      height: auto;
      min-height: 500px;
      overflow-y: auto; 
      border-radius: 10px;
    }
  
  #estateList {
      list-style: none; 
      padding: 0; 
      margin: 0; 
  }
  
  #estateList li {
      padding: 10px; 
      cursor: pointer; 
      background-color: rgb(35, 234, 9);
  }
  
  #estateList li:hover {
      background-color: #69f169; 
  }
  
  /*Header*/
  
  /* CSS for navigation bar */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
  
  }
  
  
  .logo-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
  
  }
  
  .logo-container img {
      width: 200px; /* Adjust width as needed */
      height: auto; /* Maintain aspect ratio */
      border-radius: 20px; /* Make it circular */
      border: 2px solid #fff; /* Add a white border */
   
  }
  .logo-container img:hover {
    box-shadow: 0 0 10px  rgb(0, 0, 128);
  }
  
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right a {
    color: rgb(35, 234, 9);
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    transition: font-size 0.1s; /* Add transition for font-size */
  }
  
  .header-right a:hover {
    font-size: 20px; /* Increase font size on hover */
    color:rgb(0, 0, 128) ;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 100px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .theme-toggle, .dark-mode-icon {
    width: 20%;
    height:20%;
    margin-left: 100px;
    margin-right: 10px; 
    cursor: pointer;
  }
  
  .dark-mode-icon:hover {
    background-color: #69f169; 
  }
  .profile-icon:hover {
    background-color: rgb(0, 0, 128); 
  }
  
  
  
  /****card2**/
  #estateSearchCard {
      background-color: rgb(0, 0, 128); 
      border-radius: 10px; 
      padding: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%; 
      min-height: 500px;
      box-sizing: border-box;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
      #estateSearchCard {
          padding: 10px; /* Adjust padding for smaller screens */
          margin: 10px; /* Adjust margin for smaller screens */
      }
  }
  /* card2 content  */
  #estateSearchCard label {
    color: #333; /* Text color */
    font-size: 18px; /* Font size */
    margin-bottom: 10px; /* Bottom margin */
  }
  
  #estateSearchCard input[type="text"] {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Border radius */
    margin-bottom: 10px; /* Bottom margin */
  }
  
  /* Style for the search input */
  #estateSearchCard input[type="text"] {
    padding: 10px; /* Input field padding */
    border: none; /* Remove input field border */
    border-radius: 5px; /* Input field border radius */
    margin-top: 10px; /* Adjust input field top margin */
    width: calc(50% - 20px); /* Calculate input field width */
    display: block; /* Change display to block */
  }
  
  /* Style for the search button */
  #estateSearchCard button {
    background-color: rgb(35, 234, 9); /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove button border */
    border-radius: 5px; /* Button border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 10px; /* Adjust button top margin */
    display: block; /* Change display to block */
   margin-right: 100px;
  }
  
  
  
  #estateSearchCard button:hover {
    background-color: rgb(113, 240, 96); /* Button background color on hover */
  }
  
  
  /****card1**/
  #featuredCard {
    background-color: rgb(0, 0, 128); 
    border-radius: 10px; /* Rounded corners */
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; 
    min-height: 650px;
    color: #fff;
    box-sizing: border-box;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    #featuredCard {
        padding: 10px; /* Adjust padding for smaller screens */
        margin: 10px; /* Adjust margin for smaller screens */
    }
  }
  
  
  /****card3**/
  #aboutCard {
    background-color: rgb(0, 0, 128); 
    border-radius: 10px; /* Rounded corners */
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 100%; 
    min-height: 300px;
    color: #fff;
    box-sizing: border-box;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    #aboutCard {
        padding: 10px; /* Adjust padding for smaller screens */
        margin: 10px; /* Adjust margin for smaller screens */
    }
  }
  
  /* slideshow */
  /* Style for the carousel container */
  .card {
    position: relative; /* Ensure relative positioning for absolute children */
  }
  
  /* Style for the carousel images */
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%; /* Ensure the carousel takes up the full height of the card */
  }
  
  .carousel img {
    width: 40%; /* Adjust image width as needed */
    border-radius: 10px;
    margin: 20px auto; /* Center the image horizontally and add space above and below */
  }
  
  
  /* Style for the carousel controls */
  .carousel-controls {
    position: absolute; /* Position the controls relative to the card */
    top: 50%; /* Position controls vertically at the middle of the card */
    left: 0; /* Position the previous button at the left edge */
    right: 0; /* Position the next button at the right edge */
    transform: translateY(-50%); /* Center controls vertically */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Separate the buttons */
  }
  
  /* Style for the previous and next buttons */
  .prev-btn,
  .next-btn {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* Text color */
    border: none; /* Remove button border */
    padding: 10px; /* Adjust padding as needed */
    cursor: pointer; /* Change cursor on hover */
  }
  
  /* Position the next button at the right edge */
  .next-btn {
    order: 2; /* Change the order to position it on the right */
  }
  