h1 {
  color: rgb(60, 179, 113);
  padding: 20px;
  margin: 20px;
  justify-content: center; 
}
  
p {
  color: white;
  padding: 20px;
  margin: 20px;
  justify-content: center; 
}
  
/* Login */
.card {
  background-color: rgba(0, 0, 128, 0.833);
  border-radius: 10px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.55);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 4rem; 
  margin-bottom: 4rem; 
  color: white;
  position: relative;
  z-index: 1;
}

.container {
  position: relative; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-image: url('https://github.com/Rommie254/images/blob/main/apartment1.jpg?raw=true'); 
  background-size: cover; 
  background-position: center; 
}
  
.container::before {
  content: ""; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(60, 179, 114, 0.747); 
}

/* Style the image logo */
.card .logo {
  width: 260px;
  height: auto;
  margin-bottom: 2px;
  align-items: center;
}
  
/* Style the close button */
.card .close {
  display: none; 
}
  
/* Style the headings */
.card h2 {
  color: rgb(60, 179, 113);
  margin-bottom: 10px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 2px;
  text-align: left;
  width: calc(100% - 32px);
  padding-left: 8px;
  box-sizing: border-box;
}
  
/* Style the input fields and buttons */
input[type="email"],
input[type="password"],
.button,
.google-button {
  width: calc(100% - 48px);
  max-width: 260px;
  padding: 10px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button {
  background-color: rgb(60, 179, 113);
  color: black;
  border: 1px solid rgba(60, 179, 114, 0.142);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: rgba(60, 179, 114, 0.493);
  color: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-button {
  background-color: white;
  color: #757575;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  text-align: center;
  transition: background-color .3s, box-shadow .3s;
}

.google-button:hover {
  background-color: rgba(60, 179, 114, 0.498);
  color: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.google-button:active {
  background-color: #eeeeee;
}

.google-button:focus {
  outline: none;
  box-shadow: 
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.google-button:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor: not-allowed;
}

.card p{
  margin: 0;
}

.card .link {
  color: rgb(60, 179, 113);
  text-decoration: none;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.card .link:hover {
  text-decoration: underline;
}
  
 
    /* estate listing*/
    #estateListContainer {
      font-family: verdana;
      font-size: 20px;
      color: white;
      background: rgb(60, 179, 113);
      width: 200px;
      height: auto;
      min-height: 500px;
      overflow-y: auto; 
      border-radius: 10px;
    }
  
  #estateList {
      list-style: none; 
      padding: 0; 
      margin: 0; 
  }
  
  #estateList li {
      padding: 10px; 
      cursor: pointer; 
      background-color: rgb(60, 179, 113);
  }
  
  #estateList li:hover {
      background-color: #69f169; 
  }
  
  /*Header*/
  /* CSS for navigation bar */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
  
  }
  
  
  .logo-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
  
  }
  
  .logo-container img {
      width: 200px; 
      height: auto; 
      border-radius: 20px; 
      border: 2px solid #fff; 
   
  }
  .logo-container img:hover {
    box-shadow: 0 0 10px  rgb(0, 0, 128);
  }
  
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right a {
    color: rgb(60, 179, 113);
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    transition: font-size 0.1s;
  }
  
  .header-right a:hover {
    font-size: 20px; 
    color:rgb(0, 0, 128) ;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 100px;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .theme-toggle, .dark-mode-icon {
    width: 20%;
    height:20%;
    margin-left: 100px;
    margin-right: 10px; 
    cursor: pointer;
  }
  
  .dark-mode-icon:hover {
    background-color: #69f169; 
  }
  .profile-icon:hover {
    background-color: rgb(0, 0, 128); 
  }
  
  
  
  /****card2**/
  #estateSearchCard {
      background-color: rgb(0, 0, 128); 
      border-radius: 10px; 
      padding: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%; 
      min-height: 500px;
      box-sizing: border-box;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
      #estateSearchCard {
          padding: 10px; 
          margin: 10px; 
      }
  }
  /* card2 content  */
  #estateSearchCard label {
    color: #333; 
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  #estateSearchCard input[type="text"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 10px; 
  }
  
  /* Style for the search input */
  #estateSearchCard input[type="text"] {
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    margin-top: 10px; 
    width: calc(50% - 20px); 
    display: block; 
  }
  
  /* Style for the search button */
  #estateSearchCard button {
    background-color: rgb(60, 179, 113); 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px; 
    display: block; 
   margin-right: 100px;
  }
  
  
  
  #estateSearchCard button:hover {
    background-color: rgb(60, 179, 113); 
  }
  
  
  /****card1**/
  #featuredCard {
    background-color: rgb(0, 0, 128); 
    border-radius: 10px; 
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; 
    min-height: 650px;
    color: #fff;
    box-sizing: border-box;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    #featuredCard {
        padding: 10px; 
        margin: 10px; /
    }
  }
  
  
  /****card3**/
  #aboutCard {
    background-color: rgb(0, 0, 128); 
    border-radius: 10px; 
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 100%; 
    min-height: 300px;
    color: #fff;
    box-sizing: border-box;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    #aboutCard {
        padding: 10px; 
        margin: 10px; 
    }
  }
  
  /* slideshow */
  /* Style for the carousel container */
  .card {
    position: relative; 
  }
  
  /* Style for the carousel images */
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%; 
  }
  
  .carousel img {
    width: 40%; 
    border-radius: 10px;
    margin: 20px auto; 
  }
  
  
  /* Style for the carousel controls */
  .carousel-controls {
    position: absolute; 
    top: 50%; 
    left: 0; 
    right: 0; 
    transform: translateY(-50%); 
    display: flex; 
    justify-content: space-between; 
  }
  
  /* Style for the previous and next buttons */
  .prev-btn,
  .next-btn {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
  }
  
  /* Position the next button at the right edge */
  .next-btn {
    order: 2; 
  }
  